
@charset "utf-8";

/* 初期設定 */
body{
    font-family: "Yu Gothic", "Yu Gothic Medium", "游ゴシック Medium", "游ゴシック体", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ","ＭＳ Ｐゴシック", sans-serif;
    font-weight: 500;
    letter-spacing : 0.04em;
    -webkit-font-smoothing: antialiased;
    word-break: break-word;
    box-sizing: border-box;
  }
  img{
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  a {
    display: block;
    text-decoration: none;
  }

  /************************
* 枠線と余白 あとで削除します
************************/
*{
    padding: 4px 6px !important;  /** あとで削除 **/
  }
  section,footer {
    border: 1px solid #00f;
    margin: 10px 0;
  }
  div,ul,li,dl,dt,dd,p,h1,h2{
    border: 1px solid #f00;
    margin: 10px 0;
  }
  li {
    margin: 20px 0;
  }

  /* header footer */

  .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      z-index: 1;
      padding: 10px 20px;
  }
  .header__navi {
    display: flex;
  }
  .header__navi li :not(:last-child) {
      margin-right: 14px;
  }
  .header__navi li a {
      font-size: 12px;
  }
  .header__sns {
      display: flex;
  }
  .header__sns li {
      width: 45px;
      height: 45px;
  }
  .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100vh;
  }
  .footer {

  }
  .footer__inner {
      width: 80%;
      margin: auto;
      padding: 50px 0;
  }
  .footer__navi {
      display: flex;
      justify-content: center;
      margin-bottom: 30px;
  }
  .footer__navi li {
      margin: 0 10px;
  }
  .footer__navi li a {
      font-size: 12px;
  }
  .footer__sns {
      border-top: 1px solid #7c7c7c;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 30px;
  }
  .footer__sns ul {
      display: flex;
  }
  .footer__sns ul li {
      width: 40px;
      height: 40px;
  }
  .copyright {
      font-size: 12px;
  }

  /* コンテンツ */

  .philosophy {
      display: flex;
      height: 680px;
  }
  .philosophy__right,
  .philosophy__left {
      width: 50%;
  }
  .philosophy__right {

  }
  .philosophy__left {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 10px;
  }
  .philosophy__title {

  }
  .philosophy__left-top,
  .philosophy__left-bottom {
    line-height: 1.6;
  }
  .philosophy__left-top {
      margin-top: 40px;
  }
  .philosophy__left-bottom {
      margin-top: 20px;
  }
  .philosophy__button {
      margin-top: 50px;
      border: 1px solid #fff;
      width: 180px;
  }
  .philosophy__button a {
      text-align: center;
      padding: 16px 0;
      font-size: 14px;
  }

  /* news */

  .news {
      padding: 100px 0;
  }
  .news__title {
      font-size: 24px;
  }
  .news__title span {
      font-size: 16px;
      margin-left: 16px;
  }
  .news__list {
    width: 90%;
    margin: 0 auto;
    display: flex;
    margin-top: 40px;
  }
  .news__list li {
      width: calc(100% / 4 - 15px);
  }
  .news__list li :not(:last-child) {
      margin-right: 30px;
  }
  .news__list img {

  }
  .news__list-text {
      margin-top: 10px;
      font-size: 14px;
  }
  .news__list-text dd {
      margin-top: 20px;
  }
  .news__button {
      border: 1px solid #242424;
      width: 180px;
      margin: 60px auto 0;
      text-align: center;
      font-size: 14px;
  }
  .news-button a {
      padding: 16px 0;
  }

  /* instagram */

  .instagram {
      background: #fff;
      padding: 100px 0;
  }
  .instagram__title {
      font-size: 24px;
  }
  .instagram__title span {
      font-size: 16px;
      margin-left: 16px;
  }
  .instagram__list {
      width: 90%;
      margin: 0 auto;
      display: flex;
      margin-top: 40px;
  }
  .instagram__list li {
      width: calc(100% / 4 - 15px);
  }
  .instagram__list li :not(:last-child) {
      margin-right: 30px;
  }
  .instagram__button {
      border: 1px solid #242424;
      width: 180px;
      margin: 60px auto 0;
  }
  .instagram__button a {
      text-align: center;
      padding: 16px 0;
      font-size: 14px;
  }

  /* access */

  .access {
      padding: 100px 0;
  }
  .access__title {
      font-size: 24px;
      text-align: center;
  }
  .access__map {
      margin-top: 50px;
  }
  .access__map iframe {
      width: 100%;
  }
  .access__dateil {
      width: 50%;
      margin: 0 auto;
      margin: 40px auto 0;
  }
  .access__dateil dl {
      display: flex;
  }
  .access__dateil dl:not(:first-child) {
      margin-top: 30px;
  }
  .access__dateil dl dt {
      flex: 1;
      font-size: 14px;
  }
  .access__dateil dl dd {
      flex: 2;
      font-size: 14px;
  }
  .access__dateil dl dd div:not(:first-child) {
      margin-top: 10px;
  }