@charset "utf-8";
body{
  font:normal 16px/1.8em Arial,Helvetica,sans-serif;;
  color: #7BC2BA;
}
a{
  text-decoration: none;
}

#change_btn {
    width: 200px;
    padding: 10px 0;
    text-align: center;
    border: 1px solid #000;
    cursor: pointer;        
}